@import url("var.css");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  background-color: var(--color1);
  padding-bottom: 100px;
}

.main-sect {
  background-color: var(--color2);
  padding: 20px;
  width: 260px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  border-bottom-color: var(--borderColor2);
  border-left-color: var(--borderColor2);
  box-shadow: -2px 2px 3px var(--shadowColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--otherColor1);
  position: relative;
}

.title-sect {
  background-color: var(--otherColor2);
  position: absolute;
  top: 0;
  padding: 15px 25px;
  border: 1px solid var(--borderColor);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
}

.log-in-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  font-weight: bold;
  font-size: 1rem;
  width: 210px;
}

.input-box {
  padding: 10px 15px;
  border: 1px solid var(--borderColor);
  background-color: var(--color3);
  border-radius: 5px;
  font-size: 0.9rem;
  color: var(--otherColor1);
  transition: border-bottom-color 0.2s, border-left-color 0.2s, box-shadow 0.2s,
    padding 0.2s;
}

.input-box:hover,
.input-box:focus {
  outline: none;
  border-bottom-color: var(--borderColor2);
  border-left-color: var(--borderColor2);
  box-shadow: -2px 2px 4px var(--shadowColor);
  padding: 10px 18px;
}

.input-box::placeholder {
  color: var(--placeholderColor);
}

.submit-button {
    width: 100%;
    padding: 10px 0;
    border: 1px solid var(--borderColor);
    background-color: var(--otherColor2);
    border-radius: 5px;
    transition: border-bottom-color 0.2s, border-left-color 0.2s, box-shadow 0.2s;
}

.submit-button[value] {
    color: var(--otherColor1);
    font-weight: bold;
    font-size: 0.9rem;
}

.submit-button:hover,
.submit-button:focus {
    border-bottom-color: var(--borderColor2);
    border-left-color: var(--borderColor2);
    box-shadow: -2px 2px 4px var(--shadowColor);
}

.redirect {
    margin: 10px 0;
    text-decoration: none;
}

.redirect-button {
    background-color: var(--color2);
    border: none;
    color: var(--otherColor1);
    font-weight: 500;
}

.redirect-button:hover {
    cursor: pointer;
}