@import url("var.css");

* {
  font-family: "Montserrat", Arial;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color1);
  margin-top: 81px;
}

.head-sect {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color2);
  height: 80px;
  border-bottom: 1px solid var(--borderColor);
}

.company-name {
  color: white;
  margin: 0 50px;
  background-color: var(--color3);
  font-size: 1.8rem;
  height: 50px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 25px;
  border: 1px solid var(--borderColor);
  cursor: pointer;
}

.company-name-1 {
  font-weight: 550;
  color: var(--otherColor1);
}

.company-name-2 {
  font-weight: bold;
  color: var(--otherColor2);
}

.search-sect {
  display: flex;
  align-items: center;
}

.searchbox {
  height: 50px;
  border: 1px solid var(--borderColor);
  border-right: none;
  background-color: var(--color3);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 25px;
  font-size: large;
  font-weight: 500;
  color: var(--otherColor1);
  outline: none;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-width: 0;
}

.searchbox::placeholder {
  font-size: large;
  font-weight: 500;
}

.search-button {
  height: 52px;
  border: 1px solid var(--borderColor);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--color3);
  border-left: 1px solid var(--borderColor);
  border-left: none;
  padding: 0 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.material-symbols-outlined {
  color: white;
}

.account-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  margin: 0 50px;
}

.sign-up-button {
  height: 40px;
  width: 110px;
  padding: 0 20px;
  border: 3px solid var(--otherColor1);
  border-radius: 8px;
  background-color: var(--otherColor2);
  color: var(--otherColor1);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border 0.2s, opacity 0.2s;
}

.login-button {
  height: 40px;
  width: 94px;
  padding: 0 20px;
  border: 3px solid var(--otherColor2);
  border-radius: 8px;
  background-color: var(--color2);
  color: var(--otherColor2);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border 0.2s, opacity 0.2s;
}

.sign-up-button:hover {
  background-color: var(--color2);
  color: var(--otherColor2);
  border: 3px solid var(--otherColor2);
}

.login-button:hover {
  background-color: var(--otherColor2);
  color: var(--otherColor1);
  border: 3px solid var(--otherColor1);
}

.sign-up-button:active,
.sign-up-button:visited {
  opacity: 0.8;
  background-color: var(--otherColor2);
  color: var(--otherColor1);
  border: 3px solid var(--otherColor1);
}

.login-button:active,
.login-button:visited {
  opacity: 0.8;
  background-color: var(--color2);
  color: var(--otherColor2);
  border: 3px solid var(--otherColor2);
}
